h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

button#a1 {
    margin: 40px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: lightblue;

}

button#a1:hover {
    float: right;
}

button#a2 {
    margin: 40px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: lightblue;
}