* {
    margin: 0;
    padding: 0;
}
/*
.container {
    background-color: rgb(198, 229, 218);
    width: 520px;
    height: 520px;
    margin: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

}

#box0 {
    background-color: rgb(17, 161, 208);
    width: 120px;
    height: 120px;
    margin: 5px;
    text-align: center;
    line-height: 120px;
    float: left;
    justify-content: left;
}
#box1 {
    background-color: rgb(17, 161, 208);
    width: 120px;
    height: 120px;
    margin: 5px;
    text-align: center;
    line-height: 120px;
    align-self: center;
    justify-self: center;
}
#box2 {
    background-color: rgb(17, 161, 208);
    width: 120px;
    height: 120px;
    margin: 5px;
    text-align: center;
    line-height: 120px;
    justify-self: flex-end;
    align-self: flex-start;
    position: relative;
    top: -200px;
}
*/

.navbar{
    background-color : yellow;
    display : flex;
    justify-content: space-evenly;
}

li {
    list-style-type : none;
    
}

a {
    text-decoration : none;
}